alias gpo="git push origin"
alias gpuo="git pull origin"
alias gst="git status"
alias gcb="git checkout -b"
alias gfo="git fetch origin"
alias vi="nvim"
alias gconfig="git --work-tree=$HOME --git-dir=$HOME/.dotconfigs/"
alias projects="cd $PROJECTS_DIR && cd \$(find * -type d|fzf)"
