**/*
!.aliases
!.tmux.conf
!.config/init.lua
!.config/nvim
!.config
!.vimrc
!.config/nvim/**
!.scripts
!.scripts/**
.config/nvim/plugin
**/node_modules
**/target
**/.settings
**/.classpath
**/.venv
**/.DS_Store
!.gitignore
